<form (ngSubmit)="onSubmit">

    <div>
      <label for="text">Task</label>
      <input type="text" name="text" [(ngModel)] = "text" id="text" placeholder="Add Task" />
    </div>
    <div>
      <label for="day">Day and Time</label>
      <input type="text" name="day" id="day" [(ngModel)] = "day" placeholder="Add Day and Time" />
    </div>
    <div>
      <label for="reminder">Set Reminder</label>
      <input type="checkbox" name="reminder" [(ngModel)] = "reminder" id="reminder" />
    </div>

    <input type="submit" value="Save Task" class="mat-button" />

</form>
