<form>

    <div>
      <label for="task">Task</label>
      <input type="text" name="text" id="text" placeholder="Add Task" />
    </div>
    <div>
      <label for="day">Day and Time</label>
      <input type="text" name="day" id="day" placeholder="Add Day and Time" />
    </div>
    <div>
      <label for="reminder">Day and Time</label>
      <input type="checkbox" name="reminder" id="reminder" />
    </div>
    <div>
      <input type="submit" value="Save Task" class="mat-button" />
    </div>

</form>
